.f_flex{
  display: flex;
}
.f_flex_dr{
  flex-direction: row;
}
.f_flex_dc{
  flex-direction: column;
}
.f_flex_wrap{
  flex-wrap: wrap;
}
.f_flex_center{
  justify-content:center;
  align-items: center;
  align-content: center;
}
.f_f100_0{flex:0.00%;}
.f_f100_1{flex:1.00%;}
.f_f100_2{flex:2.00%;}
.f_f100_3{flex:3.00%;}
.f_f100_4{flex:4.00%;}
.f_f100_5{flex:5.00%;}
.f_f100_6{flex:6.00%;}
.f_f100_7{flex:7.00%;}
.f_f100_8{flex:8.00%;}
.f_f100_9{flex:9.00%;}
.f_f100_10{flex:10.00%;}
.f_f100_11{flex:11.00%;}
.f_f100_12{flex:12.00%;}
.f_f100_13{flex:13.00%;}
.f_f100_14{flex:14.00%;}
.f_f100_15{flex:15.00%;}
.f_f100_16{flex:16.00%;}
.f_f100_17{flex:17.00%;}
.f_f100_18{flex:18.00%;}
.f_f100_19{flex:19.00%;}
.f_f100_20{flex:20.00%;}
.f_f100_21{flex:21.00%;}
.f_f100_22{flex:22.00%;}
.f_f100_23{flex:23.00%;}
.f_f100_24{flex:24.00%;}
.f_f100_25{flex:25.00%;}
.f_f100_26{flex:26.00%;}
.f_f100_27{flex:27.00%;}
.f_f100_28{flex:28.00%;}
.f_f100_29{flex:29.00%;}
.f_f100_30{flex:30.00%;}
.f_f100_31{flex:31.00%;}
.f_f100_32{flex:32.00%;}
.f_f100_33{flex:33.00%;}
.f_f100_34{flex:34.00%;}
.f_f100_35{flex:35.00%;}
.f_f100_36{flex:36.00%;}
.f_f100_37{flex:37.00%;}
.f_f100_38{flex:38.00%;}
.f_f100_39{flex:39.00%;}
.f_f100_40{flex:40.00%;}
.f_f100_41{flex:41.00%;}
.f_f100_42{flex:42.00%;}
.f_f100_43{flex:43.00%;}
.f_f100_44{flex:44.00%;}
.f_f100_45{flex:45.00%;}
.f_f100_46{flex:46.00%;}
.f_f100_47{flex:47.00%;}
.f_f100_48{flex:48.00%;}
.f_f100_49{flex:49.00%;}
.f_f100_50{flex:50.00%;}
.f_f100_51{flex:51.00%;}
.f_f100_52{flex:52.00%;}
.f_f100_53{flex:53.00%;}
.f_f100_54{flex:54.00%;}
.f_f100_55{flex:55.00%;}
.f_f100_56{flex:56.00%;}
.f_f100_57{flex:57.00%;}
.f_f100_58{flex:58.00%;}
.f_f100_59{flex:59.00%;}
.f_f100_60{flex:60.00%;}
.f_f100_61{flex:61.00%;}
.f_f100_62{flex:62.00%;}
.f_f100_63{flex:63.00%;}
.f_f100_64{flex:64.00%;}
.f_f100_65{flex:65.00%;}
.f_f100_66{flex:66.00%;}
.f_f100_67{flex:67.00%;}
.f_f100_68{flex:68.00%;}
.f_f100_69{flex:69.00%;}
.f_f100_70{flex:70.00%;}
.f_f100_71{flex:71.00%;}
.f_f100_72{flex:72.00%;}
.f_f100_73{flex:73.00%;}
.f_f100_74{flex:74.00%;}
.f_f100_75{flex:75.00%;}
.f_f100_76{flex:76.00%;}
.f_f100_77{flex:77.00%;}
.f_f100_78{flex:78.00%;}
.f_f100_79{flex:79.00%;}
.f_f100_80{flex:80.00%;}
.f_f100_81{flex:81.00%;}
.f_f100_82{flex:82.00%;}
.f_f100_83{flex:83.00%;}
.f_f100_84{flex:84.00%;}
.f_f100_85{flex:85.00%;}
.f_f100_86{flex:86.00%;}
.f_f100_87{flex:87.00%;}
.f_f100_88{flex:88.00%;}
.f_f100_89{flex:89.00%;}
.f_f100_90{flex:90.00%;}
.f_f100_91{flex:91.00%;}
.f_f100_92{flex:92.00%;}
.f_f100_93{flex:93.00%;}
.f_f100_94{flex:94.00%;}
.f_f100_95{flex:95.00%;}
.f_f100_96{flex:96.00%;}
.f_f100_97{flex:97.00%;}
.f_f100_98{flex:98.00%;}
.f_f100_99{flex:99.00%;}
.f_f100_100{flex:100.00%;}
